@charset "utf-8";
body{
    margin : 0;
}
div{
    background-color: #000;
}

h1{
    background-color: #ff0;
    position: relative;
    top : -5px;
    left: -5px;
}
h2{
    box-shadow: 5px 5px 1px 1px #000;
    background-color: #fcf;
}
.box{
    background-color: #999;
    width: 500px;
    height: 200px;
    position: relative;
}
h3{
    position: absolute;
    background-color: #0fc;
    top:50px;
    left: 100px;
}
span{
    background-color: #0cf;
    width: 300px;
    position: fixed;
    top:50px;
    right: 50px;
}

