@charset "utf-8";
body{
    margin : 0;
    height : 100vh;
    background-color: tomato;
    background-image: url("../images/marvel-iron-man.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50% ;
}
