@charset "utf-8";
body {
  margin: 0;
}
.container{
    border: 1px solid black;
    margin: 50px;
}
.box1 {
    width: 200px;
    height: 200px;
    background: yellow;
    /* 상속 되서 16px=1em 이니까 2em 은 32px */
    margin: 2em; 
    /* text-align: center;
    /* 1줄라인의 높이를 지정하는 속성 */
    /*line-height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border : 1px solid black;
    border-radius: 20% 20% 20% 20%;
    /* transition-property: all;
    transition-duration: 200ms;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(.35,.74,.72,.35) ; */
    transition: all 1000ms 0s cubic-bezier(.35,.74,.72,.35); 
}

.box1:hover, .box1:focus{
    border-radius: 50%;
    background-color: pink;
    transform: translateX(300px);
}
.box-act{
    border-radius: 50%;
    background-color: pink;
    transform: translateX(300px);
}
